{% extends "base.html" %}

{% block content %}
  {% if cart_tickets %}
    <div class="row">
      <div class="col-7">
        {% for session in sessions %}
          <h2>Фільм: {{ session.movie.title }}, Час: {{ session.movie.duration }} Години</h2>
          <h3>Дата: {{ session.string_film_time }}</h3>
          <h3>Ціна: {{ session.price }}</h3>
          {% for cart_ticket in cart_tickets %}
            {% if cart_ticket.movie_session_id == session.id %}
              <div class="row ticket-row">
                <div class="col-sm">Сесія: {{ cart_ticket.movie_session_id }}</div>
                <div class="col-sm">Ряд: {{ cart_ticket.row }}</div>
                <div class="col-sm">Місце: {{ cart_ticket.seat }}</div>
                <button type="button" data-index="{{ cart_ticket.temp_id }}"
                        class="col-sm btn btn-danger delete-ticket">
                  видалити білет
                </button>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="col-5" id="cart-confirm">
        <div class="cart-buy">
          <h2>Ціна до сплати: {{ cart.get_summary_tickets_price }}</h2>
          {% for price in tickets_price_sessions %}
            <p>{{ price }}</p>
          {% endfor %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#approvemodal">
            Купити квитки
          </button>
        </div>
      </div>
    </div>

    <script>
        $(document).on("click", ".delete-ticket", function (e) {
            e.preventDefault()
            let ticket_id = $(this).data("index")
            let token = getCookie("csrftoken")
            $.ajax({
                type: "POST",
                url: '{% url "cart:cart_delete" %}',
                data: {
                    csrfmiddlewaretoken: token,
                    ticket_id: ticket_id,
                    action: "post"
                },
                success: function (json) {
                    document.getElementById("cart-quantity").textContent = json.qty

                    location.reload()
                },

                error: function (xhr, errmsg, err) {
                    console.log(err)
                }

            })
        })
    </script>

  {% else %}
    <h2 class="empty-cart">У вас немає білетів у кошику</h2>
  {% endif %}
{% endblock %}

{% if cart_tickets %}
  {% block modal %}
    <div class="modal fade" id="approvemodal" tabindex="-1" role="dialog" aria-labelledby="approvemodal"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="approvemodal">Підтвердження оплати</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Ви впевнені, Що хочете зробити замовлення квитків на:
              {% for session in sessions %}
                <br>{{ session.movie.title }}
              {% endfor %}
            ?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ні</button>
            <button type="button" class="btn btn-primary">Так</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}