{% extends "base.html" %}

{% block content %}
  {% if cart_tickets %}
    <div class="row">
      <div class="col-8">
        {% for session in sessions %}
          <h2>Фільм: {{ session.movie.title }}, Час: {{ session.movie.duration }} Години</h2>
          <h3>Дата: {{ session.show_time }}</h3>
          <h3>Ціна: {{ session.price }}</h3>
          {% for cart_ticket in cart_tickets %}
            {% if cart_ticket.movie_session_id == session.id %}
              <div class="row ticket-row">
                <div class="col-sm">Сесія: {{ cart_ticket.movie_session_id }}</div>
                <div class="col-sm">Ряд: {{ cart_ticket.row }}</div>
                <div class="col-sm">Місце: {{ cart_ticket.seat }}</div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="col-4">
        <div class="cart-buy">
          {{ tickets_price }}
          <button type="submit" value="">Купити квиток</button>
        </div>
      </div>
    </div>
  {% else %}
    <h2 class="empty-cart">У вас немає білетів у кошику</h2>
  {% endif %}
{% endblock %}