<footer class="container">
        <div class="contact-us">
            <p>Виникли питання? <br> Позвоніть чи напишіть нам на почту : </p>
        </div>
        <div class="contact-us">
            <pre class="pre-us">
                o.filipenkov@istu.edu.ua
                t.danilishin@istu.edu.ua
                k.grabovuk@istu.edu.ua

                +380 98 080 44 24
                +380 98 714 71 10
                +380 93 102 29 07
            </pre>
        </div>
  <div class="links">
    <a class="contact-us logo" href="{% url "about" %}"> Про нас/мапа</a>
  </div>
</footer>