{% extends "base.html" %}

{% block title %}
    Про нас
{% endblock %}
{% block content %}
    {% load static %}
    <div class="line-h">
        <h2 class="text-center display-4">Хто ми?</h2>
        <p class="contact-us"> PopCorn Cinema це не просто звичайний кінотеатр. Це ультимативний центр розваг для вас та
            знайомих.</p>

        <p class="text-info">Активних сеансів зараз: {{ cinemahall_list.count }}</p>

        <p>Ласкаво просимо до найкращого кінотеатру в країні, де ми створили ідеальний кінематографічний простір для
            вас! Ось кілька переваг, які зроблять ваше кінематографічне переживання незабутнім:</p>
        <h3 class="text-center">Зручний інтерфейс:</h3>
        <p>Наш зручний та інтуїтивно зрозумілий інтерфейс дає змогу вам легко та швидко обирати фільми, знаходити
            найближчі сеанси та робити бронювання. Ми прагнемо зробити процес вибору фільму таким же приємним, як і сам
            перегляд.</p>
        <h3 class="text-center">Активна підтримка:</h3>
        <p>Наші висококваліфіковані співробітники активно готові допомогти вам у будь-яких питаннях. Чи то інформація
            про розклад, чи то допомога з квитками, чи то рекомендації щодо вибору фільму, наша команда завжди до ваших
            послуг.</p>
        <h3 class="text-center">Захист акаунтів:</h3>
        <p>Ми серйозно ставимося до безпеки ваших даних і особистої інформації. Наша передова система захисту акаунтів
            гарантує, що ваш досвід використання нашого кінотеатру залишиться конфіденційним і безпечним.</p>
        <h3 class="text-center">Великий спектр фільмів:</h3>
        <p>Від новинок голлівудських блокбастерів до незалежних шедеврів і класичних творів кіномистецтва - ми
            пропонуємо широкий вибір фільмів на будь-який смак. Наш репертуар постійно оновлюється, щоб задовольнити
            запити найвибагливіших глядачів.
            Приєднуйтесь до нас, щоб зануритися у світ кіно разом із найкращими умовами, створеними спеціально для вас.
            Відкрийте для себе задоволення кінематографа в нашому кінотеатрі, де ваше задоволення - наш пріоритет!</p>

        <h2 class="text-center display-4">Як до нас добратися?</h2>
        <div class="flex">
            <img src="{% static 'img/img.png' %}" alt="Мапа" class="map-img">
            <div style="margin-left: 2px">
                <pre>
                    Поки-що єдиний кінотеатр знаходиться
                    на вулиці "Райдужна 16а"
                    Робочі часи:
                    
                    Пн-Пт: 8:00-22:00
                    Сб-Нд: 10:00-20:00
                </pre>
            </div>
        </div>
    </div>
{% endblock %}