{% extends "base.html" %}

{% block content %}

  <div class="movie-detail">
    <div class="movie-detail-flex">
      <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
      <div class="movie-detail-descriptions">
        <h2 class="display-4">Фільм {{ movie.title }}</h2>
        {% if movie.is_active %}
          <h3>Фільм зараз у прокаті!</h3>
        {% endif %}
        <h3>Жанри:</h3>
        {% if movie.genres %}
          {% for genre in movie.genres.all %}
            <p>{{ genre }}</p>
          {% endfor %}

        {% else %}
          <p>на жаль, зараз жанри фільма не визначені.</p>

        {% endif %}
        <h3>Актори:</h3>
        {% if movie.actors %}
          {% for actor in movie.actors.all %}
            <p>{{ actor }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <p>{{ movie.description }}</p>
    {% if movie.is_active and movie.moviesession_set.all %}
      <h3>Активні сеанси:</h3>
      <ul>
        {% for session in movie.moviesession_set.all %}
          <li class="nav-tabs row">
            <div class="col">
              <p>Час: {{ session.string_film_time }}</p>
              <p>Місце: {{ session.cinema_hall }}</p>
              <p>місць: {{ session.cinema_hall.capacity }}</p>
            </div>
            <div class="col">
              <a href="{% url 'cinema:movie_session_order' pk=session.pk %}">
                <input class="btn btn-primary btn-lg" type="button" value="Замовити квитки">
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h3>На жаль, у сеансів на фільм зараз немає</h3>
    {% endif %}
  </div>

{% endblock %}

