{% extends "base.html" %}

{% block content %}
    {% load ticket_filters %}

    <h2>Оберіть місце для сеансу на фільм: {{ movie_session.movie.title }}</h2>
    <h2>{{ movie_session.show_time }}</h2>
    <form method="post" action="">
        {% csrf_token %}
        <ul class="seat-list">
            {{ available_seats }}
            {% for row in rows_range %}
                <li class="seat-row">Ряд {{ row }}:
                    {% for seat in seats_range %}
                        {% for ticket in tickets %}
                            {% if ticket.seat == seat and ticket.row == row %}
                            	<div class="seat-button btn nav-active ">
                                Місто зайнято
                            </div>
                            {% else %}
                            <button type="submit" name="row" value="{{ row }}" class="seat-button btn nav-active " id="add-cart">
                                Місто: {{ seat }}
                            </button>
                            {% endif %} 
                        {% endfor %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}
