{% extends "base.html" %}

{% block title %}
  Аккаунт: {{ user.first_name }}
{% endblock %}

{% block content %}
  <h2 class="text-center display-4" style="margin-bottom: 25px"> Основна інформація:</h2>
  <div class="row">
    <div class="col-3">
      <p>Імʼя: </p>

      {% if user.last_name %}
        <p>Фамілія: </p>
      {% endif %}

      <p>День народження:</p>
      <p>Пошта: </p>
      <p>Телефон: </p>
      <p>Картка: </p>
    </div>
    <div class="col-2">
      <p>{{ user.first_name }}</p>
      {% if user.last_name %}
        <p>{{ user.last_name }}</p>
      {% endif %}
      <p>{{ user.time_to_string }}</p>
      <p>{{ user.email }}</p>
      <p>{{ user.number }}</p>
      <p>{{ user.card }}</p>
    </div>
  </div>

  <div class="user-buttons">
    <a href="{% url "user:update" pk=user.id %}" class="user-account-btn"
       data-toggle="tooltip" data-placement="top" title="Змінити данні">
      <i class='bx bxs-pencil bx-md'></i>
    </a>
    
    <a href="{% url "user:update-password" pk=user.id %}" class="user-account-btn"
       data-toggle="tooltip" data-placement="top" title="Змінити пароль та пошту">
      <i class='bx bx-lock-alt bx-md' ></i>
    </a>

    <a href="{% url "user:delete" pk=user.id %}" class="user-account-btn"
       data-toggle="tooltip" data-placement="top" title="Видалити акаунт">
      <i class='bx bxs-message-alt-x bx-md'></i>
    </a>
  </div>


  <div class="user-info nav-tabs">
    {% if tickets %}
      <h2>Білети: </h2>
      <ul>
        {% for ticket in tickets %}
          <li class="ticket">
            {{ ticket.movie_session.movie.title }} -
            ряд: {{ ticket.row }}, місце: {{ ticket.seat }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="description">Ви не маєте поки що білетів.</p>
    {% endif %}
  </div>
  <div class="user-info promotional">
    <h2>Бонуси: </h2>
    <h3 class="description">{{ user.promotional_money }}</h3>
  </div>

{% endblock %}