{% extends "base.html" %}

{% block content %}
  <form class="manage-user" action="" method="post" novalidate>
    {% csrf_token %}
    <h2 class="contact-us">Змінити пароль:</h2>
    <label for="new_password1">
      Новий пароль
      {{ form.new_password1 }}
    </label>
    <label for="new_password2">
      Підтвердити пароль
      {{ form.new_password2 }}
    </label>
    <ul>
      <li>Ваш пароль не повинен бути занадто схожим на іншу вашу особисту інформацію.</li>
      <li>Ваш пароль повинен містити щонайменше 8 символів.</li>
      <li>Ваш пароль не може бути загальновживаним.</li>
      <li>Ваш пароль не може бути повністю цифровим.</li>
    </ul>
    <input class="btn btn-primary btn-lg" type="submit" value="Оновити данні">
  </form>
{% endblock %}