{% extends "base.html" %}

{% block content %}

  <form class="manage-user" action="" method="post" novalidate>
    {% csrf_token %}
    <h2 class="contact-us">Змінити аккаунт:</h2>
    <br>
    <label for="first_name">
      Імʼя
      {{ form.first_name }}
    </label>
    <label for="last_name">
      Фамілія
      {{ form.last_name }}
    </label>
    <label for="birthday">
      День народження
      <input type="date" id="id_birthday" name="birthday" value="{{ user.get_birthday_to_date }}">
    </label>
    <label for="number">
      Телефоний номер
      {{ form.number }}
    </label>
    <label for="email">
      Електонна пошта
      {{ form.email }}
    </label>
    <label for="card">
      {{ form.card }}
    </label>
  </form>
  
  <input class="btn btn-primary btn-lg" type="submit" value="Submit">
{% endblock %}